# Latex output files, to be ignored by git. 
*.log
*.vrb
*.aux
*.nav
*.snm
*.toc
*.out
# These extensions are created by Visual Code when handling latex documents. 
*.fls
*.fdb_latexmk
*.syngex.gz

# Vim temporary files. 
*.swp
*~

